.btn {
  position: relative;
  display: inline-block;
  font-weight: $btn_font_weight;
  line-height: $btn_line_height;
  color: $body_color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn_border_width solid transparent;
  @include button_size(
    $btn_padding_y,
    $btn_padding_x,
    $btn_font_size,
    $border_radius
  );
  box-shadow: $btn_box_shadow;
  cursor: pointer;
  transition: $btn_transition;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn_disabled_opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

.btn_lg {
  @include button_size(
    $btn_padding_y_lg,
    $btn_padding_x_lg,
    $btn_font_size_lg,
    $border_radius_lg
  );
}
.btn_sm {
  @include button_size(
    $btn_padding_y_sm,
    $btn_padding_x_sm,
    $btn_font_size_sm,
    $border_radius_sm
  );
}

.btn_default {
  @include button_style(
    $white,
    $gray_400,
    $body_color,
    $white,
    $primary,
    $primary
  );
}
.btn_primary {
  @include button_style($primary, $primary, $white);
}
.btn_danger {
  @include button_style($danger, $danger, $white);
}
.btn_link {
  font-weight: $font_weight_normal;
  color: $btn_link_color;
  text-decoration: $link_decoration;
  box-shadow: none;
  &:hover {
    color: $btn_link_hover_color;
    text-decoration: $link_hover_decoration;
  }
  &:focus,
  &.focus {
    text-decoration: $link_hover_decoration;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    text-decoration: $btn_link_disable_color;
    box-shadow: none;
  }
}
